/* All */
* {
  font-family: "Montserrat", sans-serif;
}

/* Slide 1 */
.navbar img {
  width: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 0 12px;
  margin: 0 140px;
  align-items: center;
}

.navbar .navbar-kanan a {
  text-decoration: none;
  padding: 0 15px 0 15px;
  color: #fff;
}

.navbar-text {
  text-align: center;
}

.navbar-text h1 {
  font-weight: 700;
  font-size: 70px;
}

.navbar-text h2 {
  font-weight: 700;
  font-size: 35px;
}

.navbar-text h3 {
  font-weight: 400;
  font-size: 16.1px;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 210px 0 180px;
}

.navbar-icons .navcon {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 70px;
  justify-content: center;
}

.navcon span {
  font-size: 50px;
  text-align: center;
}

.navcon-text {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.navcon-text a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
}

.slide-1 {
  border: solid black 3px;
  background-image: url("image/background.jpg");
  color: #fff;
  background-size: cover;
}

.navbar2 {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  justify-content: center;
}

.navbar2-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.navbar2-icon img {
  width: 110px;
}

.img-khusus {
  padding-bottom: 12px;
}

.navbar2-icon a {
  padding-top: 5px;
  text-decoration: none;
}

.text-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 80px;
}

.text-logo h1 {
  font-weight: 700;
  font-size: 45px;
}

.biru {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #039be5;
}

.text {
  display: flex;
  flex-direction: column;
}

.oren {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ff9800;
}

.vidiotron {
  border: solid 0px;
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url("https://i.pinimg.com/originals/a0/80/47/a08047ba3725e404eb47b1e785e82d58.png");
  background-size: cover;
  margin: 10px 85px;
}

.button {
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  margin: 0px 405px;
  text-align: center;
  border-radius: 5px;
}

.button a {
  text-decoration: none;
}

.sign {
  margin-top: 180px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.sign h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6868ac;
}

.sign img {
  padding-bottom: 20px;
}

.konten-beranda {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.konten-wisata img {
  height: 550px;
  width: 680px;
  border: solid 0px;
  background-size: cover;
  border-radius: 30px;
}

.container-konten {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.side-kiri {
  display: flex;
  flex-direction: column;
}

.side-kanan {
  display: flex;
  flex-direction: column;
}

.konten-kanan-1 img {
  width: 561px;
  height: 700px;
  border-radius: 25px;
  margin-bottom: 20px;
}
.konten-kanan-2 img {
  margin-top: 70px;
  width: 561px;
  height: 400px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.konten-kiri-1 img {
  width: 561px;
  height: 400px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.konten-kiri-1 a {
  text-decoration: none;
  background-color: #6868ac;
  color: #fff;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}
.konten-kiri-2 img {
  margin-top: 70px;
  width: 561px;
  height: 700px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.konten-kiri-2 a {
  text-decoration: none;
  background-color: #6868ac;
  color: #fff;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.konten-kanan-1 a {
  text-decoration: none;
  background-color: #6868ac;
  color: #fff;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.konten-kanan-2 a {
  text-decoration: none;
  background-color: #6868ac;
  color: #fff;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.alamat {
  display: flex;
  flex-direction: row;
}

.alamat p {
  margin: 0px 0px 0px 0px;
  padding: 3px 3px;
  display: flex;
  flex-wrap: wrap;
}

.container-konten h3 {
  margin-top: 12px;
  margin-bottom: 2px;
}

.container-konten span {
  padding-top: 3px;
  text-align: center;
  font-size: 17px;
}

.footer {
  display: grid;
  grid-template-columns: 25% 30% 20% 25%;
  gap: 10px;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
}

.our {
  text-align: right;
}

.lokasi {
  margin-top: 10px;
  display: flex;
}

.telpon {
  margin-top: 10px;
  display: flex;
}

.msg {
  margin-top: 10px;
  display: flex;
}

.contact span {
  font-size: 20px;
}

.find span {
  font-size: 20px;
}

.contact p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.other {
  display: flex;
  flex-direction: column;
}

.other a {
  margin-top: 10px;
}

a.disbud {
  margin-top: 0px;
}

.background-footer {
  background-color: #6868ac;
}

.find {
  text-decoration: none;
}